summon villager ~ ~ ~ {
    VillagerData:{
        profession:librarian,level:2,type:desert
    },
    Team:##friendlies##,
    Invulnerable:1,
    PersistenceRequired:1,
    Offers:{
    },
    Attributes:[{Name:"generic.movementSpeed",Base:0.0f}],CustomName:'{"text":"Citizen (NPC)","color":"white"}',CustomNameVisible:1,Tags:["reset","khorsonah_1","d0"]}    