summon villager ~ ~ ~ {
    VillagerData:{
        profession:nitwit,level:2,type:plains
    },
    Team:##friendlies##,
    Invulnerable:1,
    PersistenceRequired:1,
    Attributes:[{Name:"generic.movementSpeed",Base:0.43f}],CustomName:'"Townsburg Civilian"',CustomNameVisible:1}