scoreboard players set @s ##health## 100
scoreboard players set @s ##max_health## 100
scoreboard players set @s ##max_health_base## 100
scoreboard players set @s ##last_health## 100
scoreboard players set @s ##regen_amount_base## 1
scoreboard players set @s ##regen_frequency## 40
scoreboard players reset @s ##player_world_damage##
tag @s add ##tracker##