scoreboard players reset @s ##health##
scoreboard players reset @s ##max_health##
scoreboard players reset @s ##last_health##
scoreboard players reset @s ##regen_amount_base##
scoreboard players reset @s ##regen_frequency##
scoreboard players reset @s ##player_world_damage##
tag @s remove ##tracker##