give @s ##knight_basic_sword_item##
give @s ##knight_castironsword_sword_item##
give @s ##knight_sandesitesword_sword_item##

give @s ##knight_depthsCurse_1_item##
give @s ##knight_mobHook_1_item##

give @s ##knight_groundPound_1_item##
give @s ##knight_shield_1_item##